# ----------------------------------------------------------------------------
# directories
#
# used to build and run the project
/build/
/c++/build/
#
# used to install other packages
/external/
#
# used to cache and restore git changes
/new/
/new.*/
# ----------------------------------------------------------------------------
# files
#
# libreoffice uses this file when viewing test/csv_speed.csv
/test/.~lock.csv_speed.csv#
#
# used by bin/git_commit.sh for git logs
git_commit.log
#
# cmake creates this file from configure.hpp.in
/c++/include/cmpad/configure.hpp
#
# used by vim to backup and restore changes
*.swp
#
# used as temporary files
temp
temp.*
